websockets==15.0.1
pybase64==1.4.2
rouge_score==0.1.2
jupyterlab==3.6.3
httpcore==1.0.8
jsonschema==4.23.0
liger_kernel==0.5.3
xyzservices==2022.9.0
cupy-cuda12x==13.4.1
tabledata==1.3.4
vllm==0.8.4
entrypoints==0.4
numpy==1.26.4
pooch==1.8.2
absl-py==2.2.2
spyder==5.4.3
mkl-service==2.4.0
evalplus==0.3.1
matplotlib-inline==0.1.6
intervaltree==3.1.0
math-verify==0.5.2
PyWavelets==1.4.1
language_data==1.3.0
anaconda-client==1.12.1
charset-normalizer==3.4.3
ujson==5.4.0
backports.tempfile==1.0
opentelemetry-sdk==1.26.0
pydantic==2.11.7
daal4py==2023.1.1
nvidia-nvtx-cu12==12.4.127
joblib==1.2.0
pexpect==4.8.0
nvidia-cusparselt-cu12==0.6.2
pyerfa==2.0.0
glob2==0.7
textdistance==4.2.1
Automat==20.2.0
SQLAlchemy==1.4.39
Pygments==2.15.1
annotated-types==0.7.0
jupyter-server==1.23.4
ruamel.yaml==0.17.21
ray==2.49.1
whatthepatch==1.0.2
pycosat==0.6.4
panel==1.2.3
Send2Trash==1.8.0
tomlkit==0.13.3
google-api-python-client==2.179.0
distro==1.9.0
gguf==0.14.0
py-cpuinfo==9.0.0
anaconda-navigator==2.5.0
fonttools==4.25.0
soundfile==0.13.1
compressed-tensors==0.9.3
tiktoken==0.9.0
partial-json-parser==0.2.1.1.post5
bcrypt==3.2.0
torchaudio==2.6.0
google-auth==2.40.3
zope.interface==5.4.0
rsa==4.9.1
plotly==5.9.0
orjson==3.10.18
rfc3986-validator==0.1.1
cffi==1.15.1
Twisted==22.10.0
anaconda-cloud-auth==0.1.3
cycler==0.11.0
backports.functools-lru-cache==1.6.4
spacy-legacy==3.0.12
cytoolz==0.12.0
datashader==0.15.2
nvidia-cufile-cu12==1.11.1.6
Deprecated==1.2.18
protobuf==4.25.8
pytest==7.4.0
jinja2-time==0.2.0
incremental==21.3.0
three-merge==0.1.1
defusedxml==0.7.1
uvicorn==0.34.1
conda-libmamba-solver==23.7.0
jupyter_core==5.3.0
torch==2.6.0
interegular==0.3.3
pytoolconfig==1.2.5
lighteval==0.9.1.dev0
watchfiles==1.0.5
s3fs==2023.4.0
autopep8==1.6.0
langcodes==3.5.0
lazy_loader==0.2
six==1.16.0
pycodestyle==2.10.0
lz4==4.3.2
cbor2==5.7.0
nvidia-cuda-nvrtc-cu12==12.4.127
pure-eval==0.2.2
conda-package-handling==2.2.0
pyflakes==3.0.1
diskcache==5.6.3
blis==0.7.11
terminado==0.17.1
hvplot==0.8.4
jiter==0.9.0
zict==2.2.0
markdown-it-py==2.2.0
human-eval==1.0.3
xgrammar==0.1.18
Scrapy==2.8.0
contourpy==1.0.5
decorator==5.1.1
bokeh==3.2.1
yarl==1.20.1
openai-harmony==0.0.4
text-unidecode==1.3
blake3==1.0.4
mdit-py-plugins==0.3.0
stop-sequencer==1.2.3
bleach==4.1.0
imagesize==1.4.1
anyio==4.9.0
cryptography==41.0.3
navigator-updater==0.4.0
xarray==2023.6.0
cymem==2.0.11
uvloop==0.21.0
pkginfo==1.9.6
sphinxcontrib-qthelp==1.0.3
ipython==8.15.0
brotlipy==0.7.0
scikit-image==0.20.0
wrapt==1.14.1
starlette==0.46.2
PyQt5-sip==12.11.0
tifffile==2023.4.12
datashape==0.5.4
soxr==0.5.0.post1
poyo==0.5.0
anaconda-anon-usage==0.4.2
groovy==0.1.2
airportsdata==20250224
cohere==5.17.0
pyparsing==3.0.9
aiohappyeyeballs==2.6.1
nltk==3.9.1
opentelemetry-exporter-otlp-proto-http==1.26.0
imbalanced-learn==0.10.1
nvidia-cudnn-cu12==9.1.0.70
frozenlist==1.3.3
pathlib==1.0.1
gradio==5.45.0
pyct==0.5.0
grpcio==1.74.0
huggingface-hub==0.34.4
lm-format-enforcer==0.10.11
distributed==2023.6.0
llguidance==0.7.16
pyls-spyder==0.4.0
param==1.13.0
itemloaders==1.0.4
libarchive-c==2.9
jupyterlab-widgets==3.0.5
aiofiles==22.1.0
tensorboard-data-server==0.7.2
datasets==4.0.0
jaraco.classes==3.2.1
weasel==0.3.4
tcolorpy==0.1.7
wurlitzer==3.0.2
parameterized==0.9.0
httptools==0.6.4
prompt-toolkit==3.0.36
jsonschema-specifications==2024.10.1
sphinxcontrib-jsmath==1.0.1
et-xmlfile==1.1.0
Markdown==3.4.1
inquirerpy==0.3.4
portalocker==3.1.1
xformers==0.0.29.post2
python-dateutil==2.8.2
nbconvert==6.5.4
openai==1.107.1
pyasn1==0.4.8
pytablewriter==1.2.1
cloudpickle==2.2.1
wheel==0.38.4
tzdata==2023.3
anthropic==0.64.0
multidict==6.0.2
requests-toolbelt==1.0.0
pyrsistent==0.18.0
rpds-py==0.24.0
wcwidth==0.2.5
watchdog==2.1.6
aiosignal==1.4.0
python-lsp-jsonrpc==1.0.0
itemadapter==0.3.0
align-anything==0.0.1.dev0
webencodings==0.5.1
triton==3.2.0
h5py==3.9.0
async-timeout==4.0.2
jsonpointer==2.1
Unidecode==1.2.0
conda-verify==3.4.2
llvmlite==0.44.0
conda-repo-cli==1.0.75
hyperlink==21.0.0
googleapis-common-protos==1.70.0
langdetect==1.0.9
Babel==2.11.0
conda-content-trust==0.2.0
jsonpatch==1.32
ypy-websocket==0.8.2
httplib2==0.22.0
statsmodels==0.14.0
sphinxcontrib-devhelp==1.0.2
docstring-to-markdown==0.11
httpx==0.27.2
prometheus_client==0.21.1
MarkupSafe==2.1.1
urllib3==2.5.0
tblib==1.7.0
zipp==3.11.0
conda_index==0.3.0
chardet==4.0.0
SecretStorage==3.3.1
rich==14.0.0
toolz==0.12.0
multipledispatch==0.6.0
pylint-venv==2.3.0
json5==0.9.6
opentelemetry-exporter-otlp-proto-grpc==1.26.0
pyzmq==27.0.1
pydantic-extra-types==2.10.5
pillow==11.2.1
evaluate==0.4.5
snowballstemmer==2.2.0
jupyter-console==6.6.3
google-api-core==2.25.1
nvidia-cublas-cu12==12.4.5.8
gmpy2==2.1.2
opentelemetry-semantic-conventions==0.47b0
together==1.5.25
ply==3.11
nanobind==2.6.1
hf_transfer==0.1.9
audioread==3.0.1
seaborn==0.12.2
tensorboard==2.20.0
PyYAML==6.0.2
spyder-kernels==2.4.4
pathvalidate==3.2.3
jupyterlab-pygments==0.1.2
safehttpx==0.1.6
notebook_shim==0.2.2
email_validator==2.2.0
deepspeed==0.17.5
Jinja2==3.1.6
termcolor==2.3.0
black==0.0
beautifulsoup4==4.12.2
Pebble==5.1.3
mistune==0.8.4
murmurhash==1.0.12
tree-sitter-python==0.23.6
rich-toolkit==0.14.1
inflection==0.5.1
filelock==3.19.1
safetensors==0.5.3
opentelemetry-api==1.26.0
tables==3.8.0
flake8==6.0.0
aiohttp==3.12.15
nvidia-cusolver-cu12==11.6.1.9
google-generativeai==0.8.5
wasabi==1.1.3
accelerate==1.4.0
traitlets==5.7.1
httpx-sse==0.4.0
pandocfilters==1.5.0
argon2-cffi==21.3.0
outlines_core==0.1.26
mdurl==0.1.0
fastrlock==0.8.3
spacy-loggers==1.0.5
Flask==2.2.2
python-multipart==0.0.20
nvidia-nvjitlink-cu12==12.4.127
sacrebleu==2.5.1
jupyter_server_ydoc==0.8.0
nvidia-cufft-cu12==11.2.1.3
pyOpenSSL==23.2.0
libmambapy==1.5.1
nbclassic==0.5.5
nvidia-curand-cu12==10.3.5.147
lxml==4.9.3
keyring==23.13.1
wget==3.2
ninja==1.11.1.4
librosa==0.11.0
jupyter_client==7.4.9
scikit-learn==1.3.0
google-auth-httplib2==0.2.0
torchvision==0.21.0
pickleshare==0.7.5
types-requests==2.32.4.20250809
jupyterlab_server==2.22.0
smart-open==5.2.1
fsspec==2025.3.0
debugpy==1.6.7
nbclient==0.5.13
opentelemetry-proto==1.26.0
locket==1.0.0
sphinxcontrib-htmlhelp==2.0.0
attrs==25.3.0
jeepney==0.7.1
regex==2022.7.9
asttokens==2.0.5
msgpack==1.0.3
transformers==4.50.0.dev0
nbformat==5.9.2
importlib-metadata==6.0.0
kaleido==0.2.1
itsdangerous==2.0.1
ipython-genutils==0.2.0
pydantic_core==2.33.2
mypy-extensions==1.0.0
hf-xet==1.1.9
conda_package_streaming==0.9.0
fastapi==0.115.12
ipykernel==6.25.0
sortedcontainers==2.4.0
ipywidgets==8.0.4
sentencepiece==0.2.0
tabulate==0.9.0
peft==0.15.2
opentelemetry-exporter-otlp-proto-common==1.26.0
pluggy==1.0.0
python-dotenv==0.21.0
more-itertools==8.12.0
opencv-python-headless==4.11.0.86
pandas==2.0.3
qtconsole==5.4.2
ffmpy==0.6.1
rfc3339-validator==0.1.4
pathspec==0.10.3
referencing==0.36.2
proto-plus==1.26.1
pyviz-comms==2.3.0
python-snappy==0.6.1
wandb==0.19.9
docker-pycreds==0.4.0
grpcio-status==1.71.2
conda-token==0.4.0
thinc==8.2.5
idna==3.10
setproctitle==1.3.5
click==8.1.8
scipy==1.15.2
pytz==2023.3.post1
mistral_common==1.8.3
ptyprocess==0.7.0
pkce==1.0.3
typing-inspection==0.4.0
conda-build==3.26.1
DataProperty==1.1.0
rope==1.7.0
toml==0.10.2
eval_type_backport==0.2.2
mpmath==1.3.0
Sphinx==5.0.2
pyarrow==19.0.1
gitdb==4.0.12
argon2-cffi-bindings==21.2.0
alabaster==0.7.12
boltons==23.0.0
zstandard==0.19.0
opentelemetry-exporter-otlp==1.26.0
TBB==0.2
appdirs==1.4.4
packaging==25.0
msgspec==0.19.0
fastavro==1.12.0
hjson==3.1.0
Werkzeug==2.2.3
lark==1.2.2
w3lib==1.21.0
sympy==1.13.1
imageio==2.31.1
confection==0.1.5
multiprocess==0.70.14
nest-asyncio==1.5.6
y-py==0.5.9
pyxdg==0.27
aenum==3.1.15
ruff==0.11.6
docutils==0.18.1
uc-micro-py==1.0.1
h11==0.14.0
preshed==3.0.9
mbstrdecoder==1.1.4
opentelemetry-semantic-conventions-ai==0.4.3
bitsandbytes==0.45.5
yapf==0.31.0
astropy==5.1
mistralai==0.4.2
fastapi-cli==0.0.7
HeapDict==1.0.1
mkl-fft==1.3.8
platformdirs==3.10.0
spacy==3.7.2
backcall==0.2.0
antlr4-python3-runtime==4.13.2
gradio_client==1.13.0
Protego==0.1.16
botocore==1.29.76
google-genai==1.30.0
networkx==3.1
tornado==6.3.2
einops==0.8.1
QtAwesome==1.2.2
diff-match-patch==20200713
linkify-it-py==2.0.0
tempdir==0.7.1
jedi==0.18.1
dask==2023.6.0
Brotli==1.1.0
parso==0.8.3
pep8==1.7.1
colorcet==3.0.1
greenlet==2.0.1
python-lsp-black==1.2.1
colorlog==6.9.0
PyDispatcher==2.0.5
python-lsp-server==1.7.2
jupyter-ydoc==0.2.4
jupyter-events==0.6.3
PyJWT==2.4.0
depyf==0.18.0
tqdm==4.67.1
anaconda-project==0.11.1
tinycss2==1.2.1
google-ai-generativelanguage==0.6.15
constantly==15.1.0
clyent==1.2.2
cloudpathlib==0.16.0
typepy==1.3.4
trl==0.16.0.dev0
future==0.18.3
websocket-client==0.58.0
mccabe==0.7.0
semantic-version==2.10.0
tokenizers==0.21.4
isort==6.0.1
QtPy==2.2.0
colorama==0.4.6
sentry-sdk==2.26.1
aiosqlite==0.18.0
pydocstyle==6.3.0
PySocks==1.7.1
pfzy==0.3.4
pydub==0.25.1
intake==0.6.8
dnspython==2.7.0
jupyter_server_fileid==0.9.0
aiobotocore==2.5.0
certifi==2025.8.3
imagecodecs==2023.1.23
cookiecutter==1.7.3
typer==0.15.2
pycountry==24.6.1
typing_extensions==4.15.0
numexpr==2.8.4
soupsieve==2.4
backports.weakref==1.0.post1
responses==0.13.3
matplotlib==3.7.2
numpydoc==1.5.0
jellyfish==1.0.1
open-r1==0.1.0.dev0
python-slugify==5.0.2
queuelib==1.5.0
atomicwrites==1.4.0
GitPython==3.1.44
mkl-random==1.2.4
threadpoolctl==2.2.0
shellingham==1.5.4
holoviews==1.17.1
anaconda-catalogs==0.2.0
nvidia-nccl-cu12==2.21.5
partd==1.4.0
requests==2.32.5
jupyter==1.0.0
openpyxl==3.0.10
propcache==0.3.2
cachetools==5.5.2
kiwisolver==1.4.4
fire==0.7.1
widgetsnbextension==4.0.5
munkres==1.1.4
catalogue==2.0.10
pyasn1-modules==0.2.8
jmespath==0.10.0
prometheus-fastapi-instrumentator==7.1.0
QDarkStyle==3.0.2
pip==25.2
pyodbc==4.0.34
requests-file==1.5.1
pylint==2.16.2
pycparser==2.21
ruamel-yaml-conda==0.17.21
astor==0.8.1
sphinxcontrib-applehelp==1.0.2
parsel==1.6.0
srsly==2.5.1
marisa-trie==1.2.1
numba==0.61.2
tenacity==9.1.2
sniffio==1.2.0
comm==0.1.2
outlines==0.1.11
pycurl==7.45.2
psutil==5.9.0
patsy==0.5.3
Bottleneck==1.3.5
notebook==6.5.4
aioitertools==0.7.1
nvidia-cuda-runtime-cu12==12.4.127
smmap==5.0.2
nvidia-cusparse-cu12==12.3.1.170
xxhash==2.0.2
binaryornot==0.4.4
scikit-learn-intelex==20230426.111612
conda==23.7.4
uritemplate==4.2.0
sip==6.6.2
diffusers==0.35.1
dill==0.3.6
python-json-logger==2.0.7
nvidia-cuda-cupti-cu12==12.4.127
uv==0.8.14
setuptools==68.0.0
lazy-object-proxy==1.6.0
tree-sitter==0.25.1
qstylizer==0.2.2
Rtree==1.0.1
latex2sympy2_extended==1.0.6
executing==0.8.3
cssselect==1.1.0
iniconfig==1.1.1
tldextract==3.2.0
gensim==4.3.0
arrow==1.2.3
lmdb==1.4.1
service-identity==18.1.0
transformers==4.51.3
stack-data==0.2.0
fastjsonschema==2.16.2
conda-pack==0.6.0
astroid==2.14.2
sphinxcontrib-serializinghtml==1.1.5
